* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: red 2px solid; */
}

body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 100vh;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}

[class^="space"] {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-buttons {
    display: flex;
    gap: 1rem;
}

.game-buttons button {
    padding: .15rem .75rem;
}